:root {
  --box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
  --bg-color: rgb(40, 47, 97);
}

body {
  background-color: rgb(11, 26, 51);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar Section */

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
/* position: fixed; */
}

.nav_bar .nav_items {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav_bar .nav_items:hover {
  border-bottom: 3px solid yellow;
}


/* Home Section */
.home {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.home .left {
  background-color: var(--bg-color);
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.home .right .img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  /* height: 350px;
  width: 350px; */
}

.home .right .img img {
  height: 270px;
  width: 270px;
  border: 5px solid yellow;
  border-radius: 100%;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}

/* Experience Section */

.ex {
  width: 900px;
}

.ex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  margin: 20px;
  padding: 30px;
  width: 800px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

/* Skills */

.skills {
  width: 900px;
}

.skills .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 800px; */
  margin: auto;
  /* background-color: yellow; */
}

.skills .items .item {
  width: calc(33.33%);
  background-color: black;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.skills .items .item img {
  width: 70px;
}

/* Contact */

.contact-icon {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon .items {
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid yellow;
}

.contact-icon .items:hover {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.contact-icon .items .icons {
  font-size: 2rem;
}

/* for Navbar Section */
/* screen below 1024px */
@media (max-width: 1024px) {
  .nav_bar .nav_items {
    padding: 8px;
    font-size: 1.1rem;
  }
 
}
/* screen below 768px */
@media (max-width: 768px) {
  .nav_bar .nav_items {
    padding: 6px;
    font-size: 1rem;
  };
  
}

/* for Hero Section */
/* screen below 1024px */
@media (max-width: 1024px) {
  .home .left {
    width: 600px;
  }
  .home .right .img img {
    height: 240px;
    width: 240px;
  }
}
/* screen below 768px */
@media (max-width: 768px) {
  .home{
    width: 1200px;
  }
  .home .left {
    width: 1000px;  
  }
  .home .right .img img {
    height: 220px;
    width: 220px;
  }
}
/* screen below 500px */
@media (max-width: 576px) {
  .home{
    width: 700px;
   flex-wrap: wrap;
   gap: 0px;
   height: 70vh;
  }
  .home .left {
    width: 450px;  
  }
  .home .right{
    width: 450px;
  }
  .home .right .img img {
    height: 270px;
    width: 270px;
  }
}


/* screen below 500px */
@media (max-width: 500px) {
  .home{
   flex-wrap: wrap;
   gap: 0px;
  }
  .home .left {
    width: 620px;  
  }
  .home .right{
    width: 620px;
  }
  .home .right .img img {
    height: 270px;
    width: 270px;
  }
}

/* for Experience Section */
/* screen below 1024px */
@media (max-width: 1024px) {
  .ex {
    width: 700px;
  }
  .ex-items {
    width: 680px;   
  }
}
/* screen below 768px */
@media (max-width: 768px) {
  .ex {
    width: 600px;
    
  }
  .ex-items {
    width: 470px;   
    display: flex;
    flex-direction: column;
  }
}
/* screen below 400px */
@media (max-width: 500px) {
  .ex {
    width: 500px;
    margin: 0px;
     padding: 0px;
  }
  .ex-items {
    width: 320px;   
  }
}

/* skills section */
@media (max-width: 576px) {
  .skills{
    width: 500px;
  }
}
